<div class="conteiner">
  <div class="contenedor2">
    <div class="imgEquipo">
      <img src="../assets/img/Perros Falderos.png" alt="" />
    </div>
    <div class="equipo">
      <div class="jugadores" *ngFor="let equipo of equipo1">
        <br />
        <img src="../assets/img/{{ equipo.img }}" alt="" />
        <ul>
          <li><b>Nombre: </b>{{ equipo.nombre }}</li>
          <li><b>Edad: </b>{{ equipo.edad }}</li>
          <li><b>Pais: </b>{{ equipo.pais }}</li>
          <li><b>Equipo: </b>{{ equipo.equipo }}</li>
        </ul>
      </div>
    </div>
    <div class="imgEquipo">
      <img src="../assets/img/Gallos Guerreros.png" alt="" />
    </div>
    <div class="equipo">
      <div class="jugadores" *ngFor="let equipo of equipo2">
        <br />
        <img src="../assets/img/{{ equipo.img }}" alt="" />
        <ul>
          <li><b>Nombre: </b>{{ equipo.nombre }}</li>
          <li><b>Edad: </b>{{ equipo.edad }}</li>
          <li><b>Pais: </b>{{ equipo.pais }}</li>
          <li><b>Equipo: </b>{{ equipo.equipo }}</li>
        </ul>
      </div>
    </div>
    <div class="imgEquipo">
      <img src="../assets/img/Ciguas del Sur.png" alt="" />
    </div>
    <div class="equipo">
      <div class="jugadores" *ngFor="let equipo of equipo3">
        <br />
        <img src="../assets/img/{{ equipo.img }}" alt="" />
        <ul>
          <li><b>Nombre: </b>{{ equipo.nombre }}</li>
          <li><b>Edad: </b>{{ equipo.edad }}</li>
          <li><b>Pais: </b>{{ equipo.pais }}</li>
          <li><b>Equipo: </b>{{ equipo.equipo }}</li>
        </ul>
      </div>
    </div>
    <div class="imgEquipo">
      <img src="../assets/img/Gatos Feroces.png" alt="" />
    </div>
    <div class="equipo">
      <div class="jugadores" *ngFor="let equipo of equipo4">
        <br />
        <img src="../assets/img/{{ equipo.img }}" alt="" />
        <ul>
          <li><b>Nombre: </b>{{ equipo.nombre }}</li>
          <li><b>Edad: </b>{{ equipo.edad }}</li>
          <li><b>Pais: </b>{{ equipo.pais }}</li>
          <li><b>Equipo: </b>{{ equipo.equipo }}</li>
        </ul>
      </div>
    </div>
    <div class="imgEquipo">
      <img src="../assets/img/Carpinteros de Acero.png" alt="" />
    </div>
    <div class="equipo">
      <div class="jugadores" *ngFor="let equipo of equipo5">
        <br />
        <img src="../assets/img/{{ equipo.img }}" alt="" />
        <ul>
          <li><b>Nombre: </b>{{ equipo.nombre }}</li>
          <li><b>Edad: </b>{{ equipo.edad }}</li>
          <li><b>Pais: </b>{{ equipo.pais }}</li>
          <li><b>Equipo: </b>{{ equipo.equipo }}</li>
        </ul>
      </div>
    </div>
    <div class="imgEquipo">
      <img src="../assets/img/Rolones del norte.png" alt="" />
    </div>
    <div class="equipo">
      <div class="jugadores" *ngFor="let equipo of equipo6">
        <br />
        <img src="../assets/img/{{ equipo.img }}" alt="" />
        <ul>
          <li><b>Nombre: </b>{{ equipo.nombre }}</li>
          <li><b>Edad: </b>{{ equipo.edad }}</li>
          <li><b>Pais: </b>{{ equipo.pais }}</li>
          <li><b>Equipo: </b>{{ equipo.equipo }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="asideR">
    <aside>
      <h1>Promedio De Juegos</h1>
      <label for="equipo">Seleccione Equipo:</label>
      <select id="equipos">
        <option>Perros Falderos</option>
        <option>Gatos Guerreros</option>
        <option>Ciguas del Sur</option>
        <option>Gatos Feroces</option>
        <option>Carpinteros de Acero</option>
        <option>Rolones del norte</option>
      </select>
      <p>Ingrese juegos Ganados:</p><input type="text" id="input1">
      <p>Ingrese juegos Perdidos:</p><input type="text" id="input2" >
    <button id="button" (click)="calcularPromedio()">Calcular</button>
    <p class="busqueda" id="promedio"><b>El promedio es: </b>{{resultado}}</p>
    </aside>
  </div>
</div>


