<div class="conteiner-1">
  <div class="nosotros">
    <h1>Nosotros</h1>
  </div>
  <div class="des">
    <h2>Nosotros Somos</h2>
    <p>
      Una liga deportiva formada en el año 2020 que busca fomentar el deporte
      ayudar a los jovenes a alcanzar sus sueños la cima de sus exitos.
      <br />
      El beisbol es uno de los deportes mas emocionantes que existen por su
      competitividad y diversion que trae a los jugadores y a los espectadores
    </p>
  </div>
</div>

<div class="conteiner-2">
  <div class="vision">
    <h1>Vision</h1>
  </div>
  <div class="des">
    <h2>Nuestra Vision</h2>
    <p>
      Es llevar a nuestros jugadores a lo mas alto del beisbol con el esfuerzo
      de todos juntos.
      <br />
      Apoyando a nuestros jugadores supliendole lo necesario para que cada uno
      pueda destacarse de manera independiente.
    </p>
  </div>
</div>
<div class="conteiner-3">
  <div class="mision">
    <h1>Mision</h1>
  </div>
  <div class="des">
     <h2>Nuestra Mision</h2>
    <p>
      Fomentar, promover, desarrollar e impulsar la actividad deportiva a través de la organización
      de torneos, en donde los jóvenes deportistas tengan una actividad organizada.
      <br />
      con calidad y con base en los principios del juego limpio, que fomenten la salud
      y la cultura del deporte de las presentes y nuevas generaciones.
    </p>
  </div>
  </div>
  <div class="conteiner-4">
    <div class="valores">
      <h1>Valores</h1>
    </div>
    <div class="des">
      <p>Fortaleza, Orden, Perseverancia, Paciencia, Competitividad, Responsabilidad
        Entusiasmo, Justicia, Amistad, Participación, Respeto, Sencillez, Humildad
        Prudencia, Autogobierno, Flexibilidad, Decisión
      </p>
    </div>
  </div>

